.wrapAll{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vh;
}

.wrapMap{
    box-shadow: 0px 3px 20px black;
    width: 1000px;
    height: 930px;
    border: 4px solid black;
    border-radius: 20px;
}

@media (width <= 1000px) {
  .wrapMap{
    box-shadow: 0px 3px 20px black;
    width: 95%;
    height: 90vh;
    border: 4px solid black;
    border-radius: 8px;
}
}